<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<% if current_user.friends.count == 0 %>
    <p>This user has no friends</p>
<% else %>
    <% current_user.friends.each do |friend| %>
        <%= "Friend: #{friend.email}" %>
    <% end %>
<% end %>

<h5>Browse Friends</h5>
<% @users.each do |user| %>
    <% if (user.id != current_user.id && !User.find(current_user.id).friends.exists?(email: user.email)) %>
        <%= render partial: "userInfo", locals: {person: user} %>
        <%= button_to "Add friend", user_friendships_path(current_user.id), method: :post, params: {friend_id: user.id}%>
    <% end %>
<% end %>


