<div>
    <%= render partial: "userInfo", locals: {person: @user} %>
    <%= link_to "Edit", edit_user_path(@user) %>
    <%= button_to "Delete", @user, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
    <%= link_to "Back to Index", users_path %>
</div>