<div class="container">
  <div class="row row-cols-1">
    <% @reviews.each_with_index do |review| %>
      <div class="col">
        <div class="border-bottom pb-3 mb-3 <%= review == @reviews.first ? 'pt-4' : 'pt-2' %>"> <!-- Adjusted spacing -->
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title mb-0"><%= review.user %></h5>
            <% if review.likes.present? && review.likes > 0 %>
              <h6 class="card-subtitle text-muted mb-0"><%= review.likes %> likes</h6>
            <% end %>
          </div>
          <p class="card-text mb-0"><%= review.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
